<div>
	<a ng-click="back()" class="pull-right btn btn-primary btn-outline btn-rounded">Regresar</a>
	
	<h2>Configuración</h2>
	<h2><small>Mantenimiento listas</small></h2>
	<!--<span class="glyphicon glyphicon-dashboard bg-fade"></span>-->

	<div class="jumbotron">
		<div class="container">
			
			<h3>Agregar un problema (Ej.: Mouse dañado)</h3>
			<div class="row">
				<div class="col-xs-12">
					<form class="form-horizontal" role="form" name="myForm" id="myForm">
						
						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !problemValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Título:</label>
								<div class="col-sm-8">
									<input type="text" ng-model="problem.name" class="text-area form-control input-sm">
								</div>
							</div>
							<button ng-click="saveProblem()" class=" btn btn-primary  btn-rounded">Guardar</button>
						</div>
					</form>
				</div>
			</div>
			<br/>

			<h3>Agregar un departamento (Ej.: TI)</h3>
			<div class="row">
				<div class="col-xs-12">
					<form class="form-horizontal" role="form" name="myForm" id="myForm">
						
						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !depValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Nombre:</label>
								<div class="col-sm-8">
									<input type="text" ng-model="department.name" class="text-area form-control input-sm">
								</div>
							</div>
							<button ng-click="saveDepartment()" class="btn btn-primary  btn-rounded">Guardar</button>
						</div>
					</form>
				</div>
			</div>
			<br/>
			
			<h3>Agregar un Área de Soporte (ej.: Mantenimiento)</h3>
			<div class="row">
				<div class="col-xs-12">
					<form class="form-horizontal" role="form" name="myForm" id="myForm">
						
						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !areaValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Nombre:</label>
								<div class="col-sm-8">
									<input type="text" ng-model="supportArea.name" class="text-area form-control input-sm">
								</div>
							</div>
							<button ng-click="saveSuppArea()" class="btn btn-primary  btn-rounded">Guardar</button>
						</div>
					</form>
				</div>
			</div>
			<br/>
			
		</div>
	</div>
</div>