<div>
	<a ng-click="back()" class="pull-right btn btn-primary btn-outline btn-rounded">Regresar</a>
	<a ui-sref="customer" class="pull-right btn btn-primary  btn-rounded">Crear</a>
	<h2>Clientes</h2>
	<h2><small>Lista de Clientes</small></h2>
	<!--<span class="glyphicon glyphicon-dashboard bg-fade"></span>-->
	
	<div class="jumbotron">
		<div class="container">
			<table class="table">
				<tr>
					<th>Nombre comercial <br/> Razón social</th>
					<th>RNC/Cédula</th>
					<th>Cuenta</th>
					<th></th>
					<th></th>
				</tr>
				<tr ng-repeat="customer in customers">
					<td>{{customer.Name}}</td>
					<td>{{customer.Identification}}</td>
					<td>{{customer.Account}}</td>
					<td>
						<a href ng-click="delete(customer, $$index)">
                            eliminar
                        </a>
					</td>
					<td>
						<a href ng-click="edit(customer._id)">
                            editar
                        </a>
					</td>
					
				</tr>
			</table>
			
		</div>
	</div>
</div>