<div class="dashboard-page">

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
       <div class="text-center">
        <h1 class="brand">Facturación Open Source</h1>
        <h2 class="brand"> <small>We sell everything!</small></h2>
        <img src="images/flat-avatar.png" class="user-avatar" /><br />
        <h5 class="brand">{{user.fullName}}</h5>
        <a ng-click="logOut()" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
      </div>

      <ul class="nav nav-sidebar">
        <li ng-class="{active: $state.includes('overview')}">
          <a ui-sref="overview">Información <span class="sr-only">(current)</span></a>
        </li>
      <!-- <li ng-show="user.role.name !== 'test'" ng-class="{active: $state.includes('requestList')}">
        <a ui-sref="supportRequest.list">Solicitudes </a>
      </li> -->
        <li ng-class="{active: $state.includes('userList')}"><a ui-sref="user.list"> Vendedores </a></li>
        <li ng-class="{active: $state.includes('customerList')}"><a ui-sref="customer.list"> Clientes </a></li>
        <li ng-class="{active: $state.includes('itemList')}"><a ui-sref="item.list"> Artículos </a></li>
        <li ng-class="{active: $state.includes('invoiceList')}"><a ui-sref="invoice.list"> Facturas </a></li>
        
        <li ng-show="false" ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">Reportes</a></li>
        <!-- <li ng-show="user.role.name !== 'test'" ng-class="{active: $state.includes('config')}"><a ui-sref="config">Configuración</a></li> -->
      </ul>

    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
    
    </div>

  </div>



  </div>
</div>