<div>
	<a ng-click="back()" class="pull-right btn btn-primary btn-outline btn-rounded">Regresar</a>
	<a ui-sref="invoice" class="pull-right btn btn-primary  btn-rounded">Crear</a>
	<h2>Facturas</h2>
	<h2><small>Lista de facturas</small></h2>
	<!--<span class="glyphicon glyphicon-dashboard bg-fade"></span>-->
	
	<div class="jumbotron">
		<div class="container">
			<div class="row">


				<div class="form-group" >
					<label class="col-sm-1 control-label">Vendedor:</label>
					<div class="col-sm-3">
						<select ng-change="search('VendorId', vendor._id)" class="table-editable-select form-control input-sm" ng-model="vendor" ng-options="vendor.fullName for vendor in vendors track by vendor._id"></select>
						
					</div>
					<a class="col-sm-1" href ng-click="removeFilter('VendorId', 'vendor')">X</a>

					<label class="col-sm-1 control-label">Artículo:</label>
					<div class="col-sm-3">
						<select ng-change="search('ItemId', item._id)" class="table-editable-select form-control input-sm" ng-model="item" ng-options="item.Description for item in items track by item._id"></select>

					</div>
					<a class="col-sm-1" href ng-click="removeFilter('ItemId', 'item')">X</a>
				</div>

				
			</div>

			</br>
					
			<table class="table">
				<tr>
					<th>Fecha</th>
					<th>Vendedor</th>
					<th>Cliente</th>
					<th>Artículo</th>
					<th>Precio</th>
					<th>Cantidad</th>
					<th>Total</th>
					<th></th>
					<th></th>
				</tr>
				<tr ng-repeat="invoice in invoices">
					<td>{{invoice.Date | date: 'dd-MM-yyyy'}}</td>
					<td>{{invoice.Vendor.fullName}}</td>
					<td>{{invoice.Customer.Name}}</td>
					<td>{{invoice.Item.Description}}</td>
					<td>{{invoice.Item.Price | currency}}</td>
					<td>{{invoice.Quantity}}</td>
					<td>{{invoice.Quantity * invoice.Item.Price | currency}}</td>
					<td>
						<a href ng-click="delete(invoice, $$index)">
                            eliminar
                        </a>
					</td>
					<td>
						<a href ng-click="edit(invoice._id)">
                            editar
                        </a>
					</td>
					
				</tr>
			</table>
			
			<!--<p>You can use C3.js or Chart.js</p>-->
			<!--<p>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
			</p>-->
		</div>
	</div>
</div>