<div>
	<a ng-click="back()" class="pull-right btn btn-primary btn-outline btn-rounded">Regresar</a>
	<button ng-click="save()" class="pull-right btn btn-primary  btn-rounded">Guardar</button>
	<h2>Facturar</h2>
	<h2><small>Facturar artículos</small></h2>
	<!--<span class="glyphicon glyphicon-dashboard bg-fade"></span>-->

	<div class="jumbotron">
		<div class="container">

			<div class="row">
				<div class="col-xs-12">
					<form class="form-horizontal" role="form" name="myForm" id="myForm">
						
						
						
						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': (!formValid), 'col-xs-6': true}">
								<label class="col-xs-4 control-label">Fecha:</label>
								<div class="col-xs-8">
									<!--<input type="date" name="date" class="form-control" ng-model="sRequest.date" required>-->
									<p>{{invoice.Date | date: 'dd-MM-yyyy'}}</p>
								</div>
							</div>
						</div>

						<div class="col-xs-12" ng-show="invoice.AccountingEntryId">
							<div class="form-group" ng-class="{'has-error': (!formValid), 'col-xs-6': true}">
								<label class="col-xs-4 control-label"># Asiento Contable:</label>
								<div class="col-xs-8">
									<!--<input type="date" name="date" class="form-control" ng-model="sRequest.date" required>-->
									<p>{{ invoice.AccountingEntryId }}</p>
								</div>
							</div>
						</div>

						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !customerValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Cliente:</label>
								<div class="col-sm-8">
									<select ng-change="setCustomerId()" class="table-editable-select form-control input-sm" ng-model="invoice.Customer" ng-options="ctm.Name for ctm in customers track by ctm._id"></select>
								</div>
							</div>
						</div>

						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !customerValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Artículo:</label>
								<div class="col-sm-8">
									<select ng-change="setItemId()" class="table-editable-select form-control input-sm" ng-model="invoice.Item" ng-options="item.Description for item in items track by item._id"></select>
								</div>
							</div>
						</div>

						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': (!formValid), 'col-xs-6': true}">
								<label class="col-xs-4 control-label">Precio unitario:</label>
								<div class="col-xs-8">
									<!--<input type="date" name="date" class="form-control" ng-model="sRequest.date" required>-->
									<p>{{invoice.Item.Price | currency}}</p>
								</div>
							</div>
						</div>

						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !formValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Cantidad:</label>
								<div class="col-sm-8">
									<input type="number" class="text-area form-control input-sm" ng-model="invoice.Quantity"/>
								</div>
							</div>
						</div>

						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !formValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Comentario:</label>
								<div class="col-sm-8">
									<textarea style="resize: vertical;max-height: 200px;" class="text-area form-control input-sm" ng-model="invoice.Comment"></textarea>
								</div>
							</div>
						</div>

					


					</form>
				</div>
			</div>

			<!--<p>You can use C3.js or Chart.js</p>-->
			<!--<p>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
			</p>-->
		</div>
	</div>
</div>