<div>
	<a ng-click="back()" class="pull-right btn btn-primary btn-outline btn-rounded">Regresar</a>
	<button ng-click="save()" class="pull-right btn btn-primary  btn-rounded">Guardar</button>
	<h2>Artículo</h2>
	<h2><small>Mantenimiento de Artículo</small></h2>
	<!--<span class="glyphicon glyphicon-dashboard bg-fade"></span>-->

	<div class="jumbotron">
		<div class="container">

			<div class="row">
				<div class="col-xs-12">
					<form class="form-horizontal" role="form" name="myForm" id="myForm">
						
						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !descriptionValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Descripción:</label>
								<div class="col-sm-8">
									<input type="text" ng-model="item.Description" class="text-area form-control input-sm">
								</div>
							</div>
						</div>
						
						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !priceValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Precio:</label>
								<div class="col-sm-8">
									<input type="number" step="0.01" ng-model="item.Price" class="text-area form-control input-sm">
								</div>
							</div>
						</div>
						
					</form>
				</div>
			</div>

		</div>
	</div>
</div>