<div>
	<a ng-click="back()" class="pull-right btn btn-primary btn-outline btn-rounded">Regresar</a>
	<a ui-sref="item" class="pull-right btn btn-primary  btn-rounded">Crear</a>
	<h2>Artículos</h2>
	<h2><small>Lista de Artículos</small></h2>
	<!--<span class="glyphicon glyphicon-dashboard bg-fade"></span>-->
	
	<div class="jumbotron">
		<div class="container">
			<table class="table">
				<tr>
					<th>Descripción</th>
					<th>Precio</th>
					<th></th>
					<th></th>
				</tr>
				<tr ng-repeat="item in items">
					<td>{{item.Description}}</td>
					<td>{{item.Price}}</td>
					<td>
						<a href ng-click="delete(item, $$index)">
                            eliminar
                        </a>
					</td>
					<td>
						<a href ng-click="edit(item._id)">
                            editar
                        </a>
					</td>
					
				</tr>
			</table>
			
		</div>
	</div>
</div>