<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="login-page">
	<div class="row">
		<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        	<img src="images/flat-avatar.png" class="user-avatar" />
			<h1> Ventas Open Source </h1>
			<h2><small>We sell everything!</small></h2>
			<form role="form" ng-submit="submit()">

				<div class="form-content">
					<div class="form-group">
						<input type="text" ng-model="user.username" class="form-control input-underline input-lg" id="" placeholder="Username">
					</div>

					<div class="form-group">
						<input type="password" ng-model="user.password" class="form-control input-underline input-lg" id="" placeholder="Password">
					</div>
				</div>
				
				<button  ng-click="submit()" class="btn btn-white btn-outline btn-lg btn-rounded">Login</button>
				<div class="form-content" ng-if="showLoginError">
					<p> Username o Contraseña incorrectos!</p>
				</div>
				<div class="form-content" ng-if="showLoginEmpty">
					<p> Debe llenar los campos!</p>
				</div>
				
			</form>

		</div>	
	</div>

</div>