<div>
	<a ng-click="back()" class="pull-right btn btn-primary btn-outline btn-rounded">Regresar</a>
	<button ng-click="save()" class="pull-right btn btn-primary  btn-rounded">Guardar</button>
	<h2>Solicitar Soporte</h2>
	<h2><small>Crear Solicitud</small></h2>
	<!--<span class="glyphicon glyphicon-dashboard bg-fade"></span>-->

	<div class="jumbotron">
		<div class="container">

			<div class="row">
				<div class="col-xs-12">
					<form class="form-horizontal" role="form" name="myForm" id="myForm">
						
						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !formValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Solicitante:</label>
								<div class="col-sm-8">
									<p>{{sRequest.user.fullName}}</p>
								</div>
							</div>
						</div>
						
						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': (!formValid), 'col-xs-6': true}">
								<label class="col-xs-4 control-label">Fecha:</label>
								<div class="col-xs-8">
									<!--<input type="date" name="date" class="form-control" ng-model="sRequest.date" required>-->
									<p>{{sRequest.date | date: 'dd-MM-yyyy'}}</p>
								</div>
							</div>
						</div>

						
						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !departmentValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Departamento:</label>
								<div class="col-sm-8">
									<select ng-change="validateForm()" class="table-editable-select form-control input-sm" ng-model="sRequest.department" ng-options="dep.name for dep in departments track by dep._id"></select>
								</div>
							</div>
						</div>
						
						
						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !problemValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Problema:</label>
								<div class="col-sm-8">
									<select ng-change="validateForm()" class="table-editable-select form-control input-sm" ng-model="sRequest.problem" ng-options="problem.name for problem in problems track by problem._id"></select>
								</div>
							</div>
						</div>
						
						
						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !formValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Descripción:</label>
								<div class="col-sm-8">
									<textarea style="resize: vertical;max-height: 200px;" class="text-area form-control input-sm" ng-model="sRequest.description"></textarea>
								</div>
							</div>
						</div>
							
						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !supportAreaValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Área de Soporte:</label>
								<div class="col-sm-8">
									<select ng-change="validateForm()" class="table-editable-select form-control input-sm" ng-model="sRequest.supportArea" ng-options="sArea.name for sArea in supportAreas track by sArea._id"></select>
								</div>
							</div>
						</div>
						
						<div class="col-xs-12" ng-show="user.role.name !== 'Administrador'">
							<div class="form-group" ng-class="{'has-error': !formValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Estado:</label>
								<div class="col-sm-8">
									{{sRequest.status}}
								</div>
							</div>
						</div>
						
						<div class="col-xs-12" ng-show="user.role.name == 'Administrador'">
							<div class="form-group" ng-class="{'has-error': !formValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Estado:</label>
								<div class="col-sm-8">
									<select class="table-editable-select form-control input-sm" ng-model="sRequest.status" ng-options="status for status in statuses"></select>
								</div>
							</div>
						</div>

						


					</form>
				</div>
			</div>

			<!--<p>You can use C3.js or Chart.js</p>-->
			<!--<p>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
			</p>-->
		</div>
	</div>
</div>