<div>
	<a ng-click="back()" class="pull-right btn btn-primary btn-outline btn-rounded">Regresar</a>
	<a ui-sref="supportRequest" class="pull-right btn btn-primary  btn-rounded">Crear</a>
	<h2>Solicitudes</h2>
	<h2><small>Lista de solicitudes</small></h2>
	<!--<span class="glyphicon glyphicon-dashboard bg-fade"></span>-->
	
	<div class="jumbotron">
		<div class="container">
			<table class="table">
				<tr>
					<th>Fecha</th>
					<th>Usuario</th>
					<th>Problema</th>
					<th>Área Solicitud</th>
					<th>Estado</th>
					<th></th>
					<th></th>
				</tr>
				<tr ng-repeat="request in supportRequests">
					<td>{{request.date | date: 'dd-MM-yyyy'}}</td>
					<td>{{request.user.fullName}}</td>
					<td>{{request.problem.name}}</td>
					<td>{{request.supportArea.name}}</td>
					<td>{{request.status}}</td>
					<td>
						<a href ng-click="delete(request, $$index)">
                            eliminar
                        </a>
					</td>
					<td>
						<a href ng-click="edit(request._id)">
                            editar
                        </a>
					</td>
					
				</tr>
			</table>
			
			<!--<p>You can use C3.js or Chart.js</p>-->
			<!--<p>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
			</p>-->
		</div>
	</div>
</div>