<div>
	<a ng-click="back()" class="pull-right btn btn-primary btn-outline btn-rounded">Regresar</a>
	<button ng-click="save()" class="pull-right btn btn-primary  btn-rounded">Guardar</button>
	<h2>Vendedor</h2>
	<h2><small>Mantenimiento de Vendedores</small></h2>
	<!--<span class="glyphicon glyphicon-dashboard bg-fade"></span>-->

	<div class="jumbotron">
		<div class="container">

			<div class="row">
				<div class="col-xs-12">
					<form class="form-horizontal" role="form" name="myForm" id="myForm">
						
						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !nameValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Nombre Completo:</label>
								<div class="col-sm-8">
									<input type="text" ng-model="user.fullName" class="text-area form-control input-sm">
								</div>
							</div>
						</div>
						
						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !usernameValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Username:</label>
								<div class="col-sm-8">
									<input type="text" ng-model="user.username" class="text-area form-control input-sm">
								</div>
							</div>
						</div>
						
						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !passwordValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Contraseña:</label>
								<div class="col-sm-8">
									<input type="password" ng-model="user.password" class="text-area form-control input-sm">
								</div>
							</div>
						</div>

						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !comissionValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">% Comisión:</label>
								<div class="col-sm-8">
									<input type="number" ng-model="user.comission" class="text-area form-control input-sm">
								</div>
							</div>
						</div>
						
						<div class="col-xs-12">
							<div class="form-group" ng-class="{'has-error': !roleValid, 'col-xs-6': true}">
								<label class="col-sm-4 control-label">Rol:</label>
								<div class="col-sm-8">
									<select ng-change="validateForm()" class="table-editable-select form-control input-sm" ng-model="user.role" ng-options="role.name for role in roles track by role._id"></select>
								</div>
							</div>
						</div>
						
					</form>
				</div>
			</div>

		</div>
	</div>
</div>