<div>
	<a ng-click="back()" class="pull-right btn btn-primary btn-outline btn-rounded">Regresar</a>
	<a ui-sref="user" class="pull-right btn btn-primary  btn-rounded">Crear</a>
	<h2>Vendedores</h2>
	<h2><small>Lista de vendedores</small></h2>
	<!--<span class="glyphicon glyphicon-dashboard bg-fade"></span>-->
	
	<div class="jumbotron">
		<div class="container">
			<table class="table">
				<tr>
					<th>Nombre</th>
					<th>Usuarname</th>
					<th>% Comisión</th>
					<th>Rol</th>
					<th></th>
					<th></th>
				</tr>
				<tr ng-repeat="user in users">
					<td>{{user.fullName}}</td>
					<td>{{user.username}}</td>
					<td>{{user.comission}}</td>
					<td>{{user.role.name}}</td>
					<td>
						<a href ng-click="delete(user, $$index)">
                            eliminar
                        </a>
					</td>
					<td>
						<a href ng-click="edit(user._id)">
                            editar
                        </a>
					</td>
					
				</tr>
			</table>
			
		</div>
	</div>
</div>