<div>


	



	<!--<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a>-->
	<h2>Información <small></small></h2>
	<div class="jumbotron">
		<div class="container">
			<h1>Facturación Open Source</h1>
			
			<p>
				Proyecto Facturación Open Source.<br /><br />
				Esta aplicación es un proyecto de la asignatura Integración de Aplicaciones con Tecnología Open Source.
				Impartida por el profesor Juan Pablo Martínez en la Universidad APEC.

				El usuario Abimael Wilmort Fajardo es de prueba, para poder utilizar las funcionalidades de la aplicación utilizar otro usuario.
				Puede crear uno en la sección de Usuarios.
				Para esto diríjase a la lista de usuario y una vez allí haga click en el botón "Crear".
				<br /><br />
				Luego de haberlo creado haga logout y haga login con el nuevo usuario.				
				
				<br /><br />
			</p>
		</div>
	</div>
</div>