<div>
	<a ng-click="back()" class="pull-right btn btn-primary btn-outline btn-rounded">Regresar</a>
	<h2>Reportes </h2>
	<h2><small>Información de las Solicitudes de Soporte Técnico</small></h2>
	<div class="jumbotron">
		<div class="row">
			<div class="col-sm-6 col-lg-6">
				<h4>Cantidad de Solicitudes cerradas: <a href>{{requestQty}}</a></h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-lg-4">
				<h4>Filtrar reporte por: </h4>
			</div>
			<div class="col-sm-8 col-lg-4">
				<select ng-change="filter()" class="table-editable-select form-control input-sm" ng-model="filterBy" ng-options="opt.label for opt in criterios"></select>
			</div>
		</div>
		
		<div class="container">
			<div google-chart chart="chartObject" style="height:600px; width:100%;"></div>
			<p>
			</p>
		</div>

		<div class="container">
			<div google-chart chart="chartObject2" style="height:600px; width:100%;"></div>
			<p>
			</p>
		</div>

		<div class="container">
			<div google-chart chart="chartObject3" style="height:600px; width:100%;"></div>
			<p>
			</p>
		</div>

	</div>
</div>